<h1>All questions</h2>
<% @questions.each do |q|%>
<p><%= q.body%>
<a href="<%= test_questions_path %>/<%= q.id %>">show</a>

</p>
<%end%>

<%= link_to "Create new question", new_test_question_path %>

