<h1>Вопрос</h1>
<p><%= @question.body %></p>

<p><%= link_to 'Edit', edit_question_path(@question) %></p>
<p><%= link_to 'Delete', question_path(@question), method: :delete, data: { confirm: 'R U sure?' } %></p>
<p><%= link_to 'Back to Test', test_path(@question.test) %></p>
