<%= form_with url: feedback_path, method: :post do |form|  %>
<div class="form-floating">
  <%= form.label :message %>
  <%= form.text_area :message, rows: 7, cols: 60 %>
</div>

<p><%= form.submit %></p>
<% end %>
