<br>
<footer>
  <div class="container-fluid bg-light d-flex justify-content-between">
    <div>
      <%= current_year %> |
      <%= github_url("Dmitry Sharov", "https://github.com/dmitryshrv/TestGuru/")%>
      <p>Проект Ruby on Rails, создание тесовой платформы</p>
      <p><a href="http://thinknetica.com/" target="blank">Учебный проект в онлайн-школе Thinknetica</a><p/>
    </div>
    <div>
      <a class="btn btn-primary mr-2" href="<%= new_feedback_path %>" role="button">Оставить отзыв</a>
    </div>
  </div>
</footer>
