<br><hr>
<%= current_year %> |
<%= github_url("Dmitry Sharov", "https://github.com/dmitryshrv/TestGuru/")%>
<p>Проект Ruby on Rails, создание тесовой платформы</p>
<p><a href="http://thinknetica.com/" target="blank">Учебный проект в онлайн-школе Thinknetica</a><p/>
